attrs==25.3.0
beautifulsoup4==4.12.3
importlib-metadata==8.7.0
Jinja2==3.1.6
jsonschema==4.23.0
lxml==5.3.0
MarkupSafe==3.0.2
PyPDF2==1.28.6
pyperclip==1.8.0
pyrsistent==0.20.0
pytest==7.4.4
ruff==0.6.9
six==1.17.0
zipp==3.21.0
