{% from 'partials/addMedia.html' import addMedia %}
{% from 'partials/commentsBar.html' import commentsBar %}
{% from 'partials/questionIcons.html' import questionIcons %}
{% from 'partials/responseWrapper.html' import responseWrapper %}
{% from 'partials/answerHelp.html' import answerHelp %}
{% from 'partials/answerHelpButton.html' import answerHelpButton %}
{% from 'partials/inputSymbols.html' import inputSymbols %}

{# Generate the actual question html to be displayed #}
{% macro questionText(question) %}
{% set simple_response_modes = ["List", "Non Permuting Multiple Choice", "Multiple Choice", "Non Permuting Multiple Selection", "Multiple Selection", "Numeric", "True False", "Essay", "Maple", "Matching"] %}
{% set plain = namespace(simple_part_count=0) %}
{% for part in question.parts %}
{% if part.response_mode is defined and part.response_mode in simple_response_modes %}
{% set plain.simple_part_count = plain.simple_part_count + 1 %}
{% endif %}
{% endfor %}
{% set is_plain_repository_question = (
  question.parts
  and (question.media is not defined or not question.media)
  and (question.icon_data is not defined or not question.icon_data)
  and (
    question.parts
    | selectattr("responses", "undefined")
    | selectattr("custom_response", "undefined")
    | selectattr("structured_tutorial", "undefined")
    | list
    | length
  ) == (question.parts | length)
  and plain.simple_part_count == (question.parts | length)
) %}

{% if is_plain_repository_question %}
{% set use_paragraph_prompt = (
  ("algorithm" in question)
  or plain.simple_part_count > 0 and (
    question.parts
    | selectattr("response_mode", "defined")
    | selectattr("response_mode", "in", ["Numeric", "Maple"])
    | list
    | length
  ) > 0
) %}
{% set prompt_tag = "p" if use_paragraph_prompt else "div" %}
{% if question.master_statement %}
<{{ prompt_tag }}>{{ question.master_statement }}</{{ prompt_tag }}>
{% endif %}
{% for part in question.parts %}
{% if part.statement %}
<{{ prompt_tag }}>{{ part.statement }}</{{ prompt_tag }}>
{% endif %}
{% if part.response %}
<p><{{ part.response }}><span>&nbsp;</span></p>
{% endif %}
{% endfor %}
{% else %}
<link rel="stylesheet" href="{{ consts.THEME_LOCATION }}">

<div class="wrapper">
  <header>
    <div class="header-top">

      {% if question.title %}
      <!-- CHANGE QUESTION TITLE WITHIN H1 SPAN LABELLED "TITLE" BELOW -->
      <h1>
        <span data-propname="number">{{ question.sheet_number }}.{{ question.number }}</span>
        <span data-propname="title">{{ question.title }}</span>
      </h1>
      {% endif %}

      {% if question.icon_data %}
      {{ questionIcons(question.icon_data, "icon_data") }}
      {% endif %}

    </div>

    <p class="master-statement" data-propname="master_statement">
      <!-- CHANGE MASTER STATEMENT HERE -->
      {{ question.master_statement }}
    </p>

    {% if question.media %}
    {{ addMedia(question.media, "") }}
    {% endif %}

  </header>

  {% if question.parts|length > 1 %}
  <ul class="tabs-container">

    {% for part in question.parts %}
    <li class="tab {{ 'active' if loop.first }}" id="tab{{ loop.index }}" style="{{ 'max-width: 15rem;' if loop.length <= 3 }}">
      <p>({{ alphabet[loop.index0] }})</p>
    </li>
    {% endfor %}

    <li class="tab-end-line"></li>

  </ul>
  {% endif %}

  <div class="parts-container">

    {% for part in question.parts %}
    {% set part_propname = "parts." + loop.index|string %}
    {% set require_help_button = part.isMaple or (part.structured_tutorial or part.final_answer or part.worked_solutions) %}

    <div class="part {{ 'active' if loop.first }}" id="part{{ loop.index }}">
      <p class="part-statement" data-propname="{{ part_propname }}.statement">
        <!-- CHANGE PART STATEMENT HERE -->
        {{ part.statement }}
      </p>

      {% if part.media %}
      {{ addMedia(part.media, part_propname) }}
      {% endif %}

      {#
        The following implementation for response and responses is very messy, we need to eventually make a
        better way of laying out the different types of response areas (matrix, normal, responses,... custom)
      #}

      {% if part.response %}
      
      {{ responseWrapper(part, loop.index, part_propname, require_help_button) }}

      {% elif part.responses %}

      {% set part_index = loop.index %}
      {% for item in part.responses %}
      {% set response_propname = part_propname + ".responses." + loop.index|string %}
      {% set add_help = require_help_button and loop.last %}
      {{ responseWrapper(item, part_index, response_propname, add_help) }}
      {% endfor %}

      {% elif part.custom_response %}

      <div class="response-wrapper" data-propname="{{ part_propname }}.custom_response">
        <p>{{ part.custom_response }}</p>
        {% if require_help_button %}
        {{ answerHelpButton(loop.index) }}
        {% endif %}
      </div>

      {% endif %}

      {% if require_help_button and not (part.response or part.responses or part.custom_response) %}
      {{ answerHelpButton(loop.index) }}
      {% endif %}

      {% if part.input_symbols %}
      {{ inputSymbols(part.input_symbols) }}
      {% endif %}

      {% if require_help_button %}
      {{ answerHelp(part, loop.index, part_propname, not responses) }}
      {% endif %}

    </div>
    {% endfor %}
  </div>

</div>

<hr id="question-feedback-separator">

{{ commentsBar(question.number) }}

<script src="{{ packaged_scripts_location }}" type="application/javascript">
  /* Import Custom Javascript Code from the server */
</script>
{% endif %}
{% endmacro %}
