{% from 'partials/addMedia.html' import addMedia %}
{% from 'partials/questionIcons.html' import questionIcons %}
{% from 'partials/renderPartBody.html' import renderPartBody %}

{# Generate the actual question html to be displayed #}
{% macro questionText(question) %}
<link rel="stylesheet" href="{{ consts.THEME_LOCATION }}">

<div class="wrapper">
  <header>
    <div class="header-top">

      {% if question.title %}
      <!-- CHANGE QUESTION TITLE WITHIN H1 SPAN LABELLED "TITLE" BELOW -->
      <h1>
        <span data-propname="number">{{ question.sheet_number }}.{{ question.number }}</span>
        <span data-propname="title">{{ question.title }}</span>
      </h1>
      {% endif %}

      {% if question.icon_data %}
      {{ questionIcons(question.icon_data, "icon_data") }}
      {% endif %}

    </div>

    <p class="master-statement" data-propname="master_statement">
      <!-- CHANGE MASTER STATEMENT HERE -->
      {{ question.master_statement }}
    </p>

    {% if question.media %}
    {{ addMedia(question.media, "") }}
    {% endif %}

  </header>

  {% if question.parts|length > 1 %}
  <ul class="tabs-container">

    {% for part in question.parts %}
    <li class="tab {{ 'active' if loop.first }}" id="tab{{ loop.index }}" style="{{ 'max-width: 15rem;' if loop.length <= 3 }}">
      <p>({{ alphabet[loop.index0] }})</p>
    </li>
    {% endfor %}

    <li class="tab-end-line"></li>

  </ul>
  {% endif %}

  <div class="parts-container">

    {% for part in question.parts %}
    {% set part_propname = "parts." + loop.index|string %}
    {{ renderPartBody(part, loop.index, part_propname) }}
    {% endfor %}
  </div>

</div>

<hr id="question-feedback-separator">

<script src="{{ consts.SCRIPTS_LOCATION }}" type="application/javascript">
  /* Import Custom Javascript Code from the server */
</script>{% endmacro %}
